.footer-wrapper{
    .TopFooter{
        padding-top: 50px;
        background: linear-gradient(90deg, #084CA1 0%, #0068AD 100%);
        .logo_footer{
            width: 210px;
            display: block;
        }
        ._3cxz {
            border-bottom: 1px solid #58B947;
        }
        ._5iwi{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-end;
            ._0mal{
                margin-right: 40px;
                display: flex;
                align-items: center;
                ._1dsp{
                    margin-right: 12px;
                    width: 36px;
                }
                ._8ywm{
                    flex: 1;
                    ._1sve {
                        color: #FFF;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-transform: uppercase;
                        margin-bottom: 4px;
                    }
                    ._3gcg {
                        color: #FFF;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }
            }
        }
    }
    .BottomFooter{
        padding-bottom: 50px;
        background: linear-gradient(90deg, #084CA1 0%, #0068AD 100%);
        .list-menu-footer{
            margin-bottom: 0;
            display: flex;
            align-items: center;
            .item{
                list-style: none;
                margin-right: 32px;
                margin-left: 0;
                margin-bottom: 0;
                a{
                    color: #FFF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    &:hover{
                        color: #f1f1f1;
                    }
                }
            }
        }
        .list-isocal{
            margin-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .item{
                list-style: none;
                margin-right: 32px;
                margin-left: 0;
                margin-bottom: 0;
            }
        }
    }
    .CopyRight{
        background-color: #FFF;
        ._0xhk {
            text-align: center;
            padding: 8px 15px;
            color: #686868;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .sticky-isocal{
        display: inline-grid;
        position: fixed;
        bottom: 40%;
        right: 0;
        min-width: 60px;
        text-align: center;
        z-index: 999;
    }
    .sticky-isocal .list-sticky{
        margin-bottom: 0;
    }
    .sticky-isocal .list-sticky .item{
        list-style: none;
        width: 65px;
        height: 65px;
        margin-bottom: 15px;
        overflow: hidden;
    }
    .sticky-isocal .list-sticky .item:last-child{
        margin-bottom: 0;
    }
    .sticky-isocal .list-sticky .item a{
        display: block;
        width: 100%;
    }
    .sticky-isocal .list-sticky .item img{
        width: auto;
        height: auto;
    }
    .button.back-to-top {
        border: none;
        width: 50px;
        height: 50px;
        background: transparent;
        img {
            display: block;
        }
        &:hover {
            box-shadow: unset;
        }
        &.active{
            opacity: 1;
            pointer-events: inherit;
            transform: translateY(0);
        }
    }
}