.smote-off{
    padding: 0;
    .video-hero{
        width: 100%;
        object-fit: cover;
    }
    ._8dku{
        position: absolute;
        right: 250px;
        bottom: 150px;
        z-index: 4;
        ._7lkc {
            border-radius: 35px;
            height: 54px;
            padding: 16px 24px;
        }
    }
}